# ORIGINAL FILE: https://github.com/mtransitapps/commons/tree/master/shared-overwrite
name: MT Store channels (enable/disable)
on:
  workflow_dispatch: # manual
    inputs:
      alpha:
        description: 'Alpha channel'
        type: choice
        options:
          - ignore
          - enable
          - disable
        default: ignore
        required: true
      beta-private:
        description: 'Beta (Private) channel'
        type: choice
        options:
          - ignore
          - enable
          - disable
        default: ignore
        required: true
      production:
        description: 'Production channel'
        type: choice
        options:
          - ignore
          - enable
          - disable
        default: ignore
        required: true
# gh workflow run mt-store-channels.yml --ref $(git rev-parse --abbrev-ref HEAD)
# gh workflow run mt-store-channels.yml -f production=disable
# gh run list --workflow=mt-store-channels.yml
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
env:
  MT_BOT_USER_NAME: ${{ vars.MT_BOT_USER_NAME }}
  MT_BOT_USER_EMAIL: ${{ vars.MT_BOT_USER_EMAIL }}
  # git branches & sha
  MT_SHA: ${{ github.event.pull_request.head.sha || github.sha }}
  MT_BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
  MT_TARGET_BRANCH_NAME: ${{ github.base_ref || github.ref_name }}
  MT_DEFAULT_BRANCH_NAME: ${{ github.event.repository.default_branch }}
  # repo type
  MT_IS_SUBMODULE: ${{ contains(fromJSON('["mtransitapps/commons", "mtransitapps/commons-java", "mtransitapps/parser", "mtransitapps/commons-android"]'), github.repository) }}
  MT_IS_MAIN_REPO: ${{ endsWith(github.repository, '/mtransit-for-android') }}
  MT_IS_AGENCY_REPO: ${{ ! contains(fromJSON('["mtransitapps/commons", "mtransitapps/commons-java", "mtransitapps/parser", "mtransitapps/commons-android"]'), github.repository) && ! endsWith(github.repository, '/mtransit-for-android')}}
  MT_IS_AGENCY_RDS: ${{ ! contains(github.repository, '-bike-') }}
  MT_IS_AGENCY_BIKE: ${{ contains(github.repository, '-bike-') }}
  # git commit & push
  MT_ORG_GIT_COMMIT_ON: ${{ secrets.MT_ORG_GIT_COMMIT_ON }}
  MT_ORG_GIT_COMMIT_OFF: ${{ secrets.MT_ORG_GIT_COMMIT_OFF }}
  MT_GIT_COMMIT_ON: ${{ secrets.MT_GIT_COMMIT_ON }}
  MT_GIT_COMMIT_OFF: ${{ secrets.MT_GIT_COMMIT_OFF }}
jobs:
  MT-STORE-CHANNELS-JOB:
    name: "MT Store channels"
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - name: MT check out main repository code (no submodules)
        uses: actions/checkout@v6
        with:
          submodules: true # required to set right token
          token: ${{ secrets.MT_PAT }}
          fetch-depth: 0 # fetch all (not required util release build)

      - name: MT Enable `Alpha` channel
        if: ${{ github.event.inputs.alpha == 'enable' }}
        run: |
          mkdir -p config/store/
          touch config/store/alpha
      - name: MT Disable `Alpha` channel
        if: ${{ github.event.inputs.alpha == 'disable' }}
        run: |
          rm -f config/store/alpha

      - name: MT Enable `Beta Private` channel
        if: ${{ github.event.inputs.beta-private == 'enable' }}
        run: |
          mkdir -p config/store/
          touch config/store/beta-private
      - name: MT Disable `Beta Private` channel
        if: ${{ github.event.inputs.beta-private == 'disable' }}
        run: |
          rm -f config/store/beta-private

      - name: MT Enable `Production` channel
        if: ${{ github.event.inputs.production == 'enable' }}
        run: |
          mkdir -p config/store/
          touch config/store/production
      - name: MT Disable `Production` channel
        if: ${{ github.event.inputs.production == 'disable' }}
        run: |
          rm -f config/store/production

      - name: MT Commit changes
        continue-on-error: true
        id: mt-commit-changes
        run: |
          git add -v config/store
          if git diff --staged --quiet; then
            echo "No changes to commit."
            exit 1 # fail
          fi
          git checkout -B "update_store_channels"
          git config user.name "$MT_BOT_USER_NAME"
          git config user.email "$MT_BOT_USER_EMAIL"
          git commit -m "Update store channels"
          git push -u origin "update_store_channels" --force
          exit 0 # success

      - name: MT Check if PR exits
        id: mt-check-pr-exists
        if: ${{ steps.mt-commit-changes.conclusion == 'success' }}
        continue-on-error: true
        run: |
          gh pr view &>/dev/null

      - name: MT Create pull request (if necessary)
        if: ${{ steps.mt-commit-changes.conclusion == 'success' && steps.mt-check-pr-exists.conclusion != 'success' }}
        continue-on-error: true
        run: |
          gh pr create --fill --assignee montransit --reviewer mtransitapps/reviewers;
        env:
          GH_TOKEN: ${{ secrets.MT_PAT }}
      # - name: MT Update pull request (if necessary)
      #   if: ${{ steps.mt-commit-changes.conclusion == 'success' && steps.mt-check-pr-exists.conclusion == 'success' }}
      #   continue-on-error: true
      #   run: |
      #     gh pr edit --add-reviewer mtransitapps/reviewers;
      #   env:
      #     GH_TOKEN: ${{ secrets.MT_PAT }}

